- provide(:title, "About Odinbook")

.static-content
  %h2 About Us
  %p 
    Odinbook is a personal project created to help with learning web development. It was made as the final project of <a href="http://www.theodinproject.com/home">The Odin Project</a>'s <a href="http://www.theodinproject.com/ruby-on-rails/final-project">Ruby on Rails</a> and <a href="http://www.theodinproject.com/javascript-and-jquery/final-project">JavaScript/jQuery</a> courses.
  %p 
    Odinbook is made to replicate some of the look and functionality of Facebook, but is not affiliated with Facebook.